@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center mt-5">
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Welcome to Your Media App</h1>
        }
        else
        {
            <h1 class="display-4">Welcome to Your Media App @UserManager.GetUserName(User)</h1>
        }
        <p class="lead">Discover and explore a world of movies and books.</p>

    </div>

    <div class="row mt-5">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 d-flex flex-column">
                <img src="/images/HomePageMovie.jpg" class="card-img-top" style="height:350px" alt="Movie Image">
                <div class="card-body text-center flex-grow-1">
                    <h5 class="card-title">Latest Movies</h5>
                    <p class="card-text">Explore our collection of the latest and greatest movies.</p>
                    <a asp-controller="Movies" asp-action="AllMovies" class="btn btn-primary mt-auto">View Movies</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card h-100 d-flex flex-column">
                <img src="/images/HomePageBook.jpg" class="card-img-top" style="height:350px" alt="Book Image">
                <div class="card-body text-center flex-grow-1">
                    <h5 class="card-title">Bestselling Books</h5>
                    <p class="card-text">Dive into our curated selection of bestselling books.</p>
                    <a asp-controller="Books" asp-action="AllBooks" class="btn btn-primary mt-auto">View Books</a>
                </div>
            </div>
        </div>
    </div>


    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="mt-5 d-flex justify-content-center">
            <p class="text-muted">Ready to explore? Start your journey with movies and books that captivate your imagination by <a href="/Identity/Account/Register">Registering</a> to our website.</p>
            <p>Have an account? <a href="/Identity/Account/Login">Log in</a> to save your favorites and discover personalized recommendations.</p>
        </div>
    }
</div>

